<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">

<mat-toolbar class="salam">
    <span>
        <a href="/">
            Romania Unfiltered
        </a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a id="newpost" routerLinkActive="mat-accent" routerLink="/create" mat-button>NEW POST</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a routerLinkActive="mat-accent" routerLink="/login" mat-button>LOGIN</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a routerLinkActive="mat-accent" routerLink="/signup" mat-button>SIGNUP</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button (click)="onLogout()" mat-button>LOG OUT</button>
        </li>

    </ul>


</mat-toolbar>