<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">

<mat-toolbar class="salam">
    <span>
        <a href="/">
            Romania Unfiltered
        </a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a id="newpost" href="/create" mat-button>NEW POST</a>
        </li>

    </ul>


</mat-toolbar>