<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="e_info_box">
    <div class="row">
        <div class="col-md-5">
            <h2>Welcome to <span>unfiltered_brains</span> </h2>
            <p>
                The newest and best platform for writing/reading conspiracy theories!
            </p>
        </div>
        <div class="col-md-2 info_item">
            <h3> All our accounts are protected using the highest standard in encryption</h3>
        </div>
        <div class="col-md-2 info_item">
            <img class="securityimg" src="assets/img/security.png">
        </div>
        <div class="col-md-2 info_item">
            <h3>Let your toughts run free in a completly private platform</h3>


        </div>

    </div>
</div>

<app-rulebook></app-rulebook>

<app-post-list></app-post-list>