.e_info_box{
    border-radius: 4px;
    padding: 40px 40px 40px 40px;
    box-shadow: 0 1px 15px rgba(27,31,35,.15);
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.7s, background-color 0.7s;
    
}

.e_info_box:hover{
  transform: scale(1.1);
  background-color: #a2d2ff;
  
}
  .e_info_box h2{
      font-size: 1.8rem;
      color: #24292e;
  }
  .e_info_box p{
      margin-top: 20px;
      font-size: 1.3rem;
      color: #586069;
  
  }
  .securityimg{
      height: 7rem;
  }
  .e_info_box h3{
      font-size: 1.1rem;
      font-weight: 500;
      color: #24292e;
  }
 
  .info_item{
      text-align: center;
  }
  .info_item p{
      color: #586069;
      font-size: 0.9rem;
  }
  .info_item a{
      padding: 13px 10px 13px 10px;
      font-size: 1rem;
      font-weight: 600;
  }

  .rulebook{
      margin:auto;
      height: 30%;
        width: 30%;
      
  }
  app-rulebook{
      margin:auto;

     
  }

  app-post-list{
      margin:auto;
  }

  span{
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;;
    background: #CF0000;
    background: -webkit-linear-gradient(to right, #CF0000 0%, #FFF712 100%);
    background: -moz-linear-gradient(to right, #CF0000 0%, #FFF712 100%);
    background: linear-gradient(to right, #CF0000 0%, #FFF712 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }