<div class="e_info_box">


    <h3>Thanks for participating in our community. To ensure the best possible experience for all members, we have
        established some basic guidelines for participation.</h3>


    <mat-list role="list">
        <mat-list-item role="listitem">It is completly forbidden to disclose any personal information that may indicate
            your/someone else's identity.</mat-list-item>
        <mat-list-item role="listitem">The language used in the posts has to be inteligible and has to be written in
            english.</mat-list-item>
        <mat-list-item role="listitem">All posts have to include a picture related to the topic.</mat-list-item>

    </mat-list>




</div>